.list-picker {
    padding: 0.5em;
    width: 250px;
}

.current-list-header {
    
    
    h1 {
        font-weight: 700;
        font-size: 1.6em;
    }
}

.list-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.product-details {
    
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;

}

.remove-product {
    cursor: pointer;
}

.product-name {
    font-weight: 700;
    max-width: 300px;
    margin-left: 2em;
    margin-right: 2em;
}

.product-price {
    font-weight: 800;
    font-size: 1.4em;
    min-width: 100px;
    margin-right: 2em;
    text-align: right;
}

.product-notes {
    display: flex;
}

.product-notes-glyph {
    width: 16px;
    height: 16px;
    background-image: url("edit.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.product-notes-textarea {
    border: 0;
    font-family: inherit;
    margin-left: 30px;
    width: 295px;
    color: #737070;
}

.list-controls {
    display: flex;
}

.price-total {
    display: flex;
}

.price-total-label {
    
    h1 {
        margin: 0;
        font-size: 2em;
    }
    
}

.price-total-amount {
    font-size: 2em;
    font-weight: 700;
    margin-left: 53%;
    text-align: right;
}